
#nav-section {
    background-color: #343a40;
}

#top-section {
    height: 260vh;
    background-color: white;
    padding: 100px 0 500px 0 ;
}


#side {
    margin:10px 0 px 0;
    text-align: left;
}

#top-section h1{
    margin:0 0 0 0;
}
#main{
    margin:10px 0 px 0;
    text-align: justify;
}

#underprof{

    text-align: center;
}

i {
    font-style: italic;
}

b {
    font-style: bold;
}
#profimg {
        padding: 15px 0 4px 0;
        height: auto; 
        width: auto; 
        max-width: 220px; 
        max-height: 220px;
}

