
#nav-section {
    background-color: #343a40;
}

#top-section {
    min-height: 260vh;
    background-color: white; 
    padding: 100px 0 2.5rem 0;
}
#proj-section {
    min-height: 100vh;
    background-color: white; 
    padding: 100px 0 2.5rem 0;
}


#side {
    margin: 10px 0 px 0;
    text-align: left;
}

footer {
    bottom: 0px;
}
#main {
    margin: 10px 0 px 0;
    text-align: justify;
}


#underprof {
    text-align: center;
}

i {
    font-style: italic;
}

b {
    font-style: bold;
}

#profimg {
    padding: 15px 0 4px 0;
    height: auto;
    width: auto;
    max-width: 220px;
    max-height: 220px;
}