@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');

#nav-section {
    background-color: #343a40;
}

#top-section {
    height: 200px;
    background-color: white;
    padding: 100px 0 100px 0;
}
#story {
    height: 500px;
    background-color:white;
    padding: 20px 0 100px 0;
}
#story2 img{
    max-width: 80%;
    margin-top: -120px;
}
#story2 {
    height: 400px;
    background-color:#27B6EB;
    padding: 20px 0 100px 0;
}
#story h1{
    font-family: Roboto;
    font-weight:900;
    color:#063D61;
}

#story2 h1{
    margin-top: 50px;
    margin-left:40px;
    font-size: 1.6em;
    font-family: Roboto;
    font-weight:500;
    color:#FFFFFF;
}


#story h2{
    margin-left:30px;
    font-family: Roboto;
    font-weight:100;
    color:#818181;
}

#side {
    margin: 10px 0 px 0;
    text-align: left;
}

#story h4 {
    margin: -10px 0 0 10px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1em;
    color: #004E67;
    letter-spacing: 2px;
    line-height: 2;
}

#story h5 {
    margin: -10px 0 0 10px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1em;
    color: #27B6EB;
    line-height: 2;
}
