@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');
#nav-section {
    background-color: #343a40;
}

#top-section {
    height: 200px;
    background-color: white;
    padding: 100px 0 100px 0;
}

#story {
    height: 500px;
    background-color: white;
    padding: 20px 0 100px 0;
}

#story2 {
    height: 300px;
    background-color: #27B6EB;
    padding: 20px 0 100px 0;
}

#story3 {
    height: 300px;
    background-color: #C8E1EA;
    padding: 20px 0 100px 0;
}

#story4 {
    height: 300px;
    background-color: #568d40;
    padding: 20px 0 100px 0;
}

#story5 {
    height: 300px;
    background-color: #d5f4c9;
    padding: 20px 0 100px 0;
}

#story6 {
    height: 600px;
    background-color: #fbfbfb;
    padding: 20px 0 100px 0;
}

#story2 img {
    max-width: 80%;
    margin-top: -120px;
}

#story3 img {
    max-width: 75%;
    margin-top: -120px;
}

#story4 img {
    max-width: 100%;
    margin-left: -30px;
    margin-top: 100px;
}

#story6 img {
    width: 100%;
    margin: -20px 0 0 0;
}

#story h1 {
    font-family: Roboto;
    font-weight: 900;
    color: #063D61;
}

#story2 h1 {
    margin-top: 50px;
    margin-left: 40px;
    font-size: 1.6em;
    font-family: Roboto;
    font-weight: 900;
    color: #FFFFFF;
}

#story3 h1 {
    margin-top: 50px;
    margin-left: 40px;
    font-size: 1.6em;
    font-family: Roboto;
    font-weight: 900;
    color: #004e67;
}

#story4 h1 {
    margin-top: 50px;
    margin-left: 40px;
    font-size: 1.6em;
    font-family: Roboto;
    font-weight: 900;
    color: #FFFFFF;
}

#story5 h1 {
    margin-top: 50px;
    margin-left: 40px;
    font-size: 1.6em;
    font-family: Roboto;
    font-weight: 900;
    color: #355329;
}
#story6title {
    position: absolute;
    top:2000px;
    left:-150px;
    font-size: 1.6em;
    font-family: Roboto;
    font-weight: 900;
    color: #575757;
}

#story6title2 {
    position: absolute;
    top:2280px;
    left:-150px;
    font-size: 1.6em;
    font-family: Roboto;
    font-weight: 900;
    color: #575757;
}

#story6titleh2 {
    position: absolute;
    top:375px;
    left:-90px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.2em;
    color: #313131;
}
#story6titleh22 {
    position: absolute;
    top:375px;
    left:400px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.2em;
    color: #313131;
}

#story6titleh5 {
    position: absolute;
    text-align: left;
    top:415px;
    left:50px;
    font-family: Roboto;
    font-weight: 400;
    font-size: .9em;
    color: #313131;
}
#story6titleh52 {
    position: absolute;
    text-align: left;
    margin-right: -100px;
    top:415px;
    left:455px;
    font-family: Roboto;
    font-weight: 400;
    font-size: .9em;
    color: #313131;
}
#story h2 {
    margin-left: 30px;
    font-family: Roboto;
    font-weight: 100;
    color: #818181;
}

#story2 h2 {
    margin-left: 55px;
    margin-top: -50px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.2em;
    color: #004E67;
}

#story3 h2 {
    margin-left: 55px;
    margin-top: -40px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.2em;
    color: #004E67;
}

#story4 h2 {
    margin-left: 55px;
    margin-top: -350px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.2em;
    color: #313131;
}

#story5 h2 {
    margin-left: 55px;
    margin-top: 20px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.2em;
    color: #355329;
}

#side {
    margin: 10px 0 px 0;
    text-align: left;
}

#story h4 {
    margin: -10px 0 0 10px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1em;
    color: #004E67;
    letter-spacing: 2px;
    line-height: 2;
}

#story h5 {
    margin: -10px 0 0 10px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1em;
    color: #27B6EB;
    line-height: 2;
}

#story2 h5 {
    margin: -10px 0 0 55px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1em;
    color: #FFFFFF;
}

#story3 h5 {
    margin: 0 0 0 55px;
    font-family: Roboto;
    font-weight: 400;
    font-size: .9em;
    color: #4b4b4b;
}

#story4 h5 {
    margin: -310px 0 0 55px;
    font-family: Roboto;
    font-weight: 400;
    font-size: .9em;
    color: #FFFFFF;
}

#story5 h5 {
    margin: 10px 0 0 55px;
    font-family: Roboto;
    font-weight: 400;
    font-size: .9em;
    color: #313131;
}